APP_ENV=development
APP_NAME=API Manga
APP_VERSION=0.3.0

DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=apimanga
DB_USER=postgres
DB_PASSWORD=
DB_CONNECT_TIMEOUT=5
DB_POOL_TIMEOUT=5
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=5
